{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="ui raised very padded text container center aligned blue segment">
        <h2 class="ui center aligned icon blue header">
            <i class="circular clone icon"></i>
            Welcome!
        </h2>
        <h1>Integer Value: <span id="intVal"></span></h1>
        <p><a href="javascript:updateInteger();">Update Integer</a></p>
    </div>
{% endblock %}
{% block bodybottom %}
    <!-- Load the websocket bridge code that comes with Django Channels -->
    <script src="{% static 'channels/js/websocketbridge.js' %}"></script>
    <script>
        // Init intVal to zero when page loads
        var intVal = 0;

        // Create a new websocket bridge object
        const webSocketBridge = new channels.WebSocketBridge();

        // Connect the bridge to the integer demultiplexer
        webSocketBridge.connect('/integer/', [], {'debug': true});

        // Start listening for events
        webSocketBridge.listen();

        // Add a listener that fires once the websocket opens (will also fire if it closes and re-opens for any reason)
        webSocketBridge.socket.addEventListener('open', function () {
            console.log("Connected to notification socket");

            // Request the current value of the integer value from the server - response will come back through intval_get demultiplex below
            webSocketBridge.send({'stream': 'intval_get', 'payload': {'pk': 1}});
        })

        // This is a debugging listener that just prints out any messages that come in
        webSocketBridge.socket.addEventListener('message', function (message) {
            console.log("Message Received: ");
            console.log(message);
        })

        // Function to update the HTML with a new integer value
        function updateIntVal(intValParam) {
            intVal = intValParam;
            console.log("Updating IntVal");
            console.log(intVal);
            document.getElementById('intVal').innerHTML = intVal.toString();
        }

        // Listen for traffic on the main intval stream (push events from server), and take action on those messages
        webSocketBridge.demultiplex('intval', function (payload, stream) {
            console.log("Demultiplex IntVal");
            console.log(stream, payload);
            if (payload.action === 'update') {
                updateIntVal(payload.data.value);
            }
        })

        // Listen for messages on the intval_get stream (responses to 'get' requests from us) and take action on those messages
        webSocketBridge.demultiplex('intval_get', function (payload, stream) {
            console.log("Demultiplex IntVal_Get");
            console.log(stream, payload);
            if (payload.action === 'get') {
                updateIntVal(payload.data.value);
            }
        })

        // Function to send an update message to the server once they have clicked the update link
        function updateInteger() {
            console.log("Update Integer Was Clicked");
            webSocketBridge.send({'stream': 'intval', 'payload': {'action': 'update', 'pk': 1, 'data': {'value': intVal + 1}}});
        }
    </script>
{% endblock %}